.resumeContainer {
    /*min-height: calc(100vh - 35px - 86px);*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 3.75rem;
    margin-top: 3.75rem;
}

.intro__container {
    min-height: calc(100vh - 35px - 70px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/************ Banner Css ************/
.banner {
    margin-top: 0;
    padding: 260px 0 100px 0;
    /* background-image: url('../../assets/img/banner-bg.png'); */
    /* background-color: var(--bgBlack);*/
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(100vh - 133px);
}

.banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    background: linear-gradient(90.21deg, var(--bgBlack) 0%, var(--bgBlue1) 55%, var(--bgBlue2) 85%);

    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
}

.banner h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
}

.banner p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
}

.banner button {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
}

.banner button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
}

.banner button:hover svg {
    margin-left: 25px;
}

.banner img {
    animation: updown 3s linear infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(-20px);
    }
}

.txt-rotate>.wrap {
    border-right: 0.08em solid #666;
}


.homebtn {
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    margin: 25px 3% 0;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color);
    color: #e7e7e7;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
    border-style: none
}

/* HOME PAGE */


.TypeEffect {
    padding: 25px 0px;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0.6px;
}

.Avatar {
    height: 350px;
    width: 400px;
    mix-blend-mode: screen;
}

@media (max-width: 900px) {
    .HomePage {
        display: block;
        text-align: center;
        margin-top: 150px;
        padding: 25px;
    }

    .HomeText {
        text-align: left;
        display: inline-block;
    }
}
