/* ABOUT */

.AboutPage {
    display: flex;
    justify-content: space-evenly;
    min-height: 50vh;
    align-items: center;
    padding: 25px;
    margin-top: 180px;
}

.AboutText {
    width: 50%;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
}

.AboutTextHeading {
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 40px;
}

.AboutText a {
    color: var(--color);
    text-decoration: underline;
    font-weight: bold;
}